<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/head :: headerFragment(pageTitle='Cart')">
<body>


<div class="container">
    <div th:replace="~{fragments/navigation :: navigation(Cart)}"/>
    <div class="content">
        <h1>Shopping Cart</h1>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-cart">
                    <form id="product_count" method="POST">
                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item: ${items}">
                                <td>
                                    <a th:href="@{'/products/'+${item.product.id}}" class="cart-item">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img th:src="@{'data:image/png;base64,'+${item.product.getBase64Image()}}" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">[[${item.product.title}]]</div>
                                        <div class="price">[[${item.product.price}]]$</div>
                                    </div>
                                    </a>
                                </td>
                                <td class="product-count">
                                    <div class="count-inlineflex">
                                        <div class="qtyminus">-</div>
                                        <div class="countfield">
                                            <input type="text" name="quantity" th:data-id="${item.product.id}" min="1" th:max="${item.product.available}" th:name="count" th:value="${item.count}" class="qty"/>
                                        </div>
                                        <div class="qtyplus">+</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="total">[[${item.product.price * item.count}]]$</div>
                                </td>
                                <td>
                                    [[${item.id}]]
                                <button form="product_count" th:formaction="@{'/cart/delete/'+${item.product.id}}" class="btn btn-xs btn-danger">X</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                    </form>
                    <center th:if="${items.size() == 0}">Cart is empty</center>
                </div>
                <!-- /.table-cart -->
            </div>
            <!-- /.col-lg-8 -->

            <div class="col-lg-4">
                <div class="cart-totals">
                    <h3>Cart Totals</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>Number of goods</td>
                            <td>[[${itemsCount}]]</td>
                        </tr>
                        <tr class="total-row">
                            <td>Total</td>
                            <td class="price-total">[[${cost}]]$</td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${items.size() > 0}" class="btn-cart-totals">
                        <a href="/cart" type="submit" class="round-black-btn">Update Cart</a>
                        <a th:href="@{/orders/new}" class="round-black-btn">Proceed to Checkout</a>
                    </div>
                    <!-- /.btn-cart-totals -->
                </div>
                <!-- /.cart-totals -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>

</body>
</html>