<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headerFragment(pageTitle='Order confirmation')">

<body>
<div class="container">
    <div th:replace="~{fragments/navigation :: navigation(Details)}"/>
    <div class="content">
        <h1>Add new product</h1>
        <form th:action="@{/orders}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="deliveryAddress">Delivery address</label>
                <input type="text" class="form-control" id="deliveryAddress" th:name="deliveryAddress" required>
            </div>
            <input type="hidden" th:value="${username}" name="username">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>

        <div th:replace="~{fragments/footer :: footer}"/>
    </div>
</div>

</body>
</html>