<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headerFragment(pageTitle='Order confirmation')">

    <head th:replace="fragments/head :: headerFragment(pageTitle='Order confirmation')">

    <body>
    <div class="container">
        <div th:replace="~{fragments/navigation :: navigation(Details)}"/>
        <div class="content">
            <h1>Add new product</h1>

            <div class="col-75">
                <form method="post" th:action="@{/pay}">
                    <div class="form-group">
                        <label for="deliveryAddress">Delivery address</label>
                        <input type="text" class="form-control" id="deliveryAddress" th:name="deliveryAddress" required>
                    </div>


                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="price">Total</label>
                        <input type="text" id="price" disabled name="price" th:value="${cartprice}">
                    </div>
                    <input type="hidden" th:value="${username}" name="username">
                    <input type="submit" value="Continue to checkout" class="btn btn-primary">
                </form>
            </div>

            <div th:replace="~{fragments/footer :: footer}"/>
        </div>
    </div>
</div>

</body>
</html>